anyio==3.5.0
asgiref==3.5.0
click==8.0.3
fastapi==0.73.0
h11==0.13.0
idna==3.3
imageio==2.14.1
joblib==1.1.0
networkx==2.6.3
numpy==1.22.1
packaging==21.3
Pillow==9.0.0
pydantic==1.9.0
pyparsing==3.0.7
python-multipart==0.0.5
PyWavelets==1.2.0
scikit-image==0.19.1
scipy==1.7.3
six==1.16.0
sniffio==1.2.0
starlette==0.17.1
tifffile==2021.11.2
typing-extensions==4.0.1
uvicorn==0.17.0.post1
